@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

.image img {
  width: 20vw;
  height: 30vh;
  padding-bottom: 1rem;
  filter: none;
}

.col-3 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.grocery-section {
  margin-top: 4rem;
  color: white;
  text-align: center;
  height: 85.5vh;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding-top: 2rem;
}

.grocery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url("../images/recipe-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}