* {
  margin-bottom: 0px;
  padding: 0px;
}
.mealplan_cards {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 10px;
}
.meals_card {
  width: 30%;
  background-color: #fbf9c2;
  border: 2px solid white;
  border-radius: 10px;
}

.time {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  display: inline-block;
  width: 100%;
  height: 40px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}
.breakfast {
  background-color: #f3a01d;
}
.lunch {
  background-color: #b9bf33;
}
.dinner {
  background-color: #fdc536;
}
.meal-title h1 {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(61, 60, 60);
  padding: 10px 10px 10px 10px;
  text-align: center;
}
.meal-title {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.meal-title p {
  margin-bottom: 0px;
  font-size: 1.2rem;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
}
