.mealplans {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
}
.choose-date {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin-top: 30px;
}
.mealplan-date {
  display: flex;
  justify-content: center;
}
.mealpan_page {
  background-color: #2d2f38;
  min-height: 100vh;
}
