/* .dietcare-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  padding: 0 30px;
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);

}

.dietcare-navbar img {
  width: 210px;
  height: 75px;
  cursor: pointer;
}

.input-group-append button {
  background: transparent !important;
}

.navbar-ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.navbar-ul li {
  font-size: 1.05rem;
  font-weight: 600;
  color: white;
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.2s;
}

.navbar-ul li:hover {
  transform: scale(1.1);
}

li i {
  font-size: 1.1rem;
  padding-right: 8px;
}

.profileDrop-content {
  display: none;
  position: relative;
  background: rgb(163, 161, 163);
  color: #bec4c7;
  z-index: 10;
}

.profileDrop:hover .profileDrop-content {
  display: block;
} */

.navbar {
  height: 8vh;
  background: #0f2027 !important;
  background: -webkit-linear-gradient(to right,
      #2c5364,
      #203a43,
      #0f2027) !important;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027) !important;
}

.navbar-brand img {
  filter: none;
}

.navbar-collapse {
  margin-left: 60rem;
  font-size: 1.3rem;
}

.navbar Search {
  margin-left: 200px;
}