.dietcare-recipe-card {
  border: 1px solid rgb(187, 184, 184);
  margin-bottom: 15px;
  height: 300px;
  width: 312px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition-duration: 0.2s;
}
.dietcare-recipe-card:hover {
  transform: scale(1.05);
}
.dietcare-recipe-card h2 {
  margin-top: 10px;
  padding: 0 15px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
.dietcare-recipe-card p {
  font-size: 1rem;
  font-weight: 400;
}
