.input-group {
  position: relative;
  /* margin-left: 30px; */
}

.input-group ul {
  position: absolute;
  list-style: none;
  width: 85%;
  top: 36px;
  left: 3px;
  z-index: 1;
}

.input-group ul li {
  background-color: white;
  opacity: 0.9;
  border-bottom: 1px solid #ccc;
  padding: 3px 0;
  color: black;
  padding-left: 10px;
  cursor: pointer;

}